/* Footer.module.css */
.footer {
  height: 50px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.footer span {
  opacity: 0.9;
  font-size: 0.9rem; /* تم نقلها هنا لتكون مرتبطة بالنص */
}
