.sidebar{
    background-color: var(--main-color);
    color: var(--whit-color);
    width: 250px;
}
.navItem{
    padding: 1rem;
    cursor: pointer;
    transition: background 1s;
    text-decoration: none;
    color: var(--whit-color);
}
.navItem:hover{
    background-color: rgba(255, 255, 255, 0.1);
}